<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="900" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Weather & AQI Dashboard</title>
</head>
<body>
    <div class="v36_37">
        <div class="v13_6026"></div>
        <div class="v76_4"></div>
        <span class="v13_6031">{{DATE}} | {{LOCATION}}</span>
        <span class="v78_12">INTRO TO CECS</span>
        <div class="v76_7"></div>
        <div class="v14_6033"></div>
        <div class="v25_2"></div>
        <div class="v25_3"></div>
        <span class="v25_5">Humidity</span>
        <span class="v25_24">{{HUMIDITY}}</span>
        <span class="v26_26">{{WIND_VALUE}}</span>
        <span class="v25_25">{{FEELS_LIKE}}</span>
        <span class="v25_6">Feels Like</span>
        <span class="v36_35">Update at: {{LAST_UPDATED}}</span>
        <span class="v26_31">{{HERO_ACTION}}</span>
        <span class="v36_32">{{AQI_ACTION}}</span>
        <span class="v25_7">Wind</span>
        <span class="v26_27">{{WIND_UNIT}}</span>
        <div class="name"></div>
        <div class="v26_30"></div>
        <span class="v29_74">{{TEMPERATURE}}</span>
        <div class="v30_81"></div>
        <span class="v30_85">{{AQI_VALUE}}</span>
        <div class="v76_5"></div>
        <div class="name"></div>
        <span class="v38_39">"{{QUOTE}}"</span>
        <div class="v41_189"></div>
        <div class="v76_9"></div>
        <div class="v76_10"></div>
        <div class="v76_11"></div>
        <span class="v29_75">{{CONDITION}}</span>
    </div>
</body>
</html>